header {
  padding-top: 15px;
  width: 100vw;
  height: 80px;
  background: rgba(255, 255, 255, 0.671);
  margin-top: -22px;
  display: flex;
  justify-content: space-between;
  padding: 0 4vw;
  align-items: center;

  .logout-button {
    margin-top: 15px;
    width: 20vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 2vw;
    border-radius: 3px;
    margin-right: 5vw;
    img {
      border-radius: 50%;
    }
    p {
      font-size: 15px;
    }

    @media (max-width: 600px) {
      width: 40vw;
    }
  }

  h1 {
    margin-top: 30px;
    font-size: 24px;
  }
}
