.new-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.new {
  background: orange;
  border: none;
  height: 80px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &:hover {
    background: rgb(190, 144, 58);
    cursor: pointer;

    @media (max-width: 499px) {
      background: orange;
    }
  }
}

.editor-container-new {
  background: green;
}
